.section {
    margin: 1rem;
    overflow: hidden;
    background-image: url(/home.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    position: relative;
}

.image {
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: -1;
}

.h1 {
    font-size: 5rem;
    color: white;
}

.button {
    margin-top: 1rem;
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #00003f;
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s;
    z-index: -1;
}

.button:hover::before {
    transform: scaleX(1);
}

/* @media screen and (max-width: 768px) {

} */